// all sizing based on *$px units
$px: 1 / 16 + rem

.css-browsers
  position: relative
  border: 1*$px solid rgba(0,0,0,0.5)
  background-color: rgba(255,255,255,1.0)

  .css-browsers-toolbar
    padding: 7*$px
    border-bottom: 1*$px solid rgba(0,0,0,0.5)

  .css-browsers-btn
    display: inline-block
    width: 40*$px
    height: 35*$px
    padding-top: 5*$px
    border: 1*$px solid rgba(0,0,0,0.5)
    color: rgba(0,0,0,0.5)
    text-align: center
    text-decoration: none
    cursor: pointer

  .css-browsers-forward
    margin-left: -5*$px
    border-left: none

  .css-browsers-address
    display: inline-block
    position: absolute
    right: 7*$px
    left: 95*$px
    height: 35*$px
    padding: 5*$px 10*$px
    border: 1*$px solid rgba(0,0,0,0.5)
    background: rgba(255,255,255,1.0)

  .css-browsers-reload
    float: right
    font-weight: 700
    color: rgba(0,0,0,0.5)

  .css-browsers-content
    position: relative
    height: 300*$px
    overflow: scroll

.css-browsers-safari-7
  border-radius: 7*$px 7*$px 0*$px 0*$px
  box-shadow: 0*$px 3*$px 5*$px rgba(0,0,0,0.1)

  .css-browsers-address
    padding: 8*$px
    font-size: 12*$px
    border-radius: 5*$px
    box-shadow: inset 0*$px 1*$px 2*$px rgba(0,0,0,0.2), 0*$px 1*$px 0*$px rgba(255,255,255,0.7)

  .css-browsers-back
    border-radius: 5*$px 0*$px 0*$px 5*$px

  .css-browsers-forward
    border-radius: 0*$px 5*$px 5*$px 0*$px

  .css-browsers-toolbar
    border-radius: 7*$px 7*$px 0*$px 0*$px
    box-shadow: inset 0*$px 1*$px 0*$px rgba(255,255,255,1.0)
    background: linear-gradient(rgba(226, 226, 226, 1) 0%, rgba(200, 200, 200, 1) 100%)

  .css-browsers-btn
    box-shadow: inset 0*$px 1*$px 0*$px rgba(255,255,255,1.0), 0*$px 1*$px 0*$px rgba(255,255,255,0.7)
    background: linear-gradient(rgba(226, 226, 226, 1) 0%, rgba(200, 200, 200, 1) 100%)
    text-shadow: 0*$px 1*$px 0*$px rgba(255,255,255,0.7)

    &:hover
      background: linear-gradient(rgba(237, 237, 237, 1) 0%, rgba(200, 200, 200, 1) 100%)
    &:active,
    &.active
      background: linear-gradient(rgba(200, 200, 200, 1) 0%, rgba(226, 226, 226, 1) 100%)
